<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Login Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/css/style.css" />
	</head>
	<body id="mainpage">
        <div class="containermain" max-width="1000px">
            <div class="wrapper">
                <div class="loginTitle"><span>Welcome to PROJECTion</span></div>
                <p>there will be stuff here</p>
            </div>
        </div>
	</body>
</html>