<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="../static/css/styleHome.css" rel="stylesheet">
    <title>PROJECTion</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">

        {% include 'auth/sidebar.html' %}

        <div class="main-content col-main text-white" style="background-color:rgb(51, 50, 50)">
            <div class="container-fluid">
                <div class="display-5 mt-3 show-lg">{{ project.Project_Name }}</div>

                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card border-0 mt-4 py-3" style="background-color:rgb(75, 60, 85)">
                            <h4 class="card-title mx-3">Risk Levels</h4>
                            <div class="row justify-content-evenly" style="text-align:center">
                                <!-- use jinja for each of the three cards to display the relevant information -->
                                <div class="card border-0 col-5 col-md-2 p-2" style="background-color:rgb(83, 124, 129)">
                                    <h6 class="card-title">Morale</h6>
                                    <div class="display-6 shadow-text">{{avgMorale*10}}%</div>
                                </div>
                                <div class="card border-0 col-5 col-md-2 p-2" style="background-color:rgb(83, 124, 129)">
                                    <h6 class="card-title">Difficulty</h6>
                                    <div class="display-6 shadow-text">{{avgDiff*10}}%</div>
                                </div>
                                <div class="card border-0 col-5 col-md-2 p-2 mt-2 mt-md-0" style="background-color:rgb(83, 124, 129)">
                                    <h6 class="card-title comm-bg">Communication</h6>
                                    <h6 class="card-title comm-sm">Comms</h6>
                                    <div class="display-6 shadow-text">{{avgComm*10}}%</div>
                                </div>
                                <div class="card border-0 col-5 col-md-2 p-2 mt-2 mt-md-0" style="background-color:rgb(83, 124, 129)">
                                    <h6 class="card-title">Progress</h6>
                                    <div class="display-6 shadow-text">{{avgProg*10}}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-5">
                        <div class="card border-0 mt-4 data-board" style="background-color:rgb(112, 66, 66)">
                            <div class="card-body">
                                <h4 class="card-title">Failure Estimation</h4>
                                <div class="row justify-content-center">
                                    <div class="col-8 card border-0 py-3" style="background-color:rgb(158, 110, 106)">
                                        <div style="text-align:center">
                                            <div class="display-3 shadow-text" style="text-align:center"><strong>83%</strong></div>
                                            failure chance
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="card border-0 mt-4 data-board" style="background-color:rgb(73, 72, 71)">
                            <div class="card-body text-start">
                                <h4 class="card-title">Budget Status</h2>
                                <div style="text-align:center">
                                    £620 spent of £1000
                                    <div class="display-6 shadow-text" style="text-align:center">62% spent</div>
                                </div> 
                                <div class="progress my-2" style="height: 35px; background-color: rgb(43, 40, 40);">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 75%; float: right; background-color:rgb(196, 109, 37)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mb-4">
                    
                    <div class="col-12 col-lg-7">
                        <div class="card border-0 mt-4 data-board" style="background-color:rgb(68, 90, 110)">
                            <div class="card-body " style="overflow-x: scroll">
                                <h4 class="card-title">Team Members</h2>
                                    <table class="table text-white">
                                        <tr>
                                          <th>Email</th>
                                          <th></th>
                                        </tr>
                                        <tbody>
                                            {% for member in members %}
                                            <tr>
                                                <td> {{member.User_Email}} </td>
                                                <td>
                                                    <form method="POST">
                                                        <input type="hidden" name="type" value="remove">
                                                        <input type="hidden" name="TeamID" value="{{team._id}}">
                                                        <input type="hidden" name="ProjectID" value="{{project._id}}">
                                                        <input type="hidden" name="member" value="{{member.User_Email}}">
                                                        {% if owner %}
                                                        <button class="btn text-white red-btn" type="submit">Remove</button>
                                                        {% endif %}
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% if owner %}
                                    <div class="row justify-content-center">
                                        <div class="col-11 card border-0 py-3" style="background-color:rgb(106, 158, 154)">
                                            Add new member
                                            <form method="POST">
                                                <input type="text" name="member" placeholder="Team member's email" required>
                                                <input type="hidden" name="type" value="add">
                                                <input type="hidden" name="TeamID" value="{{team._id}}">
                                                <input type="hidden" name="ProjectID" value="{{project._id}}">
                                                <button class="btn text-white green-btn" type="submit" style="float:right">Add</button>
                                            </form>
                                        </div>
                                    </div>    
                                 {% endif %}       
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="card border-0 mt-4 data-board" style="background-color:rgb(112, 59, 75)">
                            <div class="card-body ">
                                <h4 class="card-title">Project Overview</h4>
                                <table class="table table-sm text-white">
                                    <tr>
                                        <td><strong>Client:</strong></td>
                                        <td>{{ project.Client_Name }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Status:</strong></td>
                                        {% if project.Completed %}
                                        <td>Complete</td>
                                        {% else %}
                                        <td>In Progress</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td><strong>Methodology:</strong></td>
                                        <td>{{ project.Methodology }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Start date:</strong></td>
                                        <td>{{ project.Start_Date }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Deadline:</strong></td>
                                        <td>{{ project.Deadline }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
