<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Registration Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/css/style.css" />
	</head>
	<body id="formpage">
          <div class="container2">
               <div class="formTitle"><span>Sign Up</span></div>
               <form name='registration' action='/register' method="POST">
                    <div class="userinfo">
                         <div class="inputbox">
                              <span class="info">Email</span>
                              <input id="email" name="email" type="email" placeholder="Enter your email" required>
                         </div>
                         <div class="inputbox">
                              <span class="info">Password</span>
                              <input class="password" id="password" name="password" type="password" placeholder="Enter your password" required>
                         </div>
                         <div class="inputbox">
                              <span class="info">Confirm Password</span>
                              <input class="confirm_password" id="confirm_password" name="confirm_password" type="password" placeholder="Confirm your password" required>
                         </div>
                    </div><br>
                   
                    <div class="row">  
                         <input type="submit" value="Register" class="button">
                    </div>

                    <div class="loginuser">
                         <br>
                         <p>Already registered? <a href='/login'>Click here to login</a></p>
                    </div>
               </form>
          </div>

          <script>
               document.querySelector('.button').onclick = function() {
                    var password = document.querySelector('.password').value,
                    confirmPassword = document.querySelector('.confirm_password').value;
          
                    if (password != confirmPassword) {
                         alert("Password did not match. Try again.");
                         return false;
                    } 
               }
          </script>
	</body>
</html>