{% extends "layout.html" %}

  {% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
  {% endif %}
  {% endwith %}
  {% endblock %}

  {% block more %}
  <br>
  <br>
  <h1 id="subtitle">Project Pro +</h1>
  {% autoescape true %}
  <div class="login_form">
    <form method="POST" action="/login">
      <h1 id="subtitle">LOGIN</h1>
    <br>
    <div class="container">
      <label for="email"><b>Email</b></label>
      <br>
      <input class="inputFields" type="email" placeholder="Enter Email" name="email" id="email" required>
      <br>
      <br>
      <label for="username"><b>Username</b></label>
      <br>
      <input class="inputFields" type="text" placeholder="Enter Username" name="username" id="username" required>
      <br>
      <br>
      <label for="psw"><b>Password</b></label>
      <br>
      <input class="inputFields" type="password" placeholder="Enter Password" name="password" id="password" required>
      <br>
      <br>
      <button class="loginButtn">LOGIN</button>
      <br>
      <br>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="createAcc">
    <button class="loginButtn" type="submit" action="/register">Don't have an account? <a href="register">Create Now!</a></button>
  </div>
  </form>
  {% endautoescape %}
  {% endblock %}